<img *ngFor="let photo of data ; let i=index" class="galery-item" (click)="show_big_photo(photo,i)" src="http://127.0.0.1:8000/{{photo.url}}" data-bs-toggle="modal" data-bs-target="#photo">

<ng-template [ngIf]="data.length==0">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    Empty Galery
  </div>
</ng-template>

<div class="modal fade" id="photo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Galery</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="{{big_photo_url}}" class="img">
        </div>
      </div>
    </div>
</div>

