.modal-dialog{
    position: fixed;
    left: 27%;
    top:0%;
    .modal-content{
        min-width: 1200px;
        min-height: 900px;
        text-align: center;
        .modal-body{
            .img{
                max-width: 1200px;
                min-height: 900px;
                object-fit:cover;
            }
        }
    }
}