$new_photo_hover:red;

.manage-galery{
    margin: 25rem;
    
}
.set_img{
    margin: auto;
    width: 50%;
    margin-bottom:2rem;
    .actions{
        text-align: center;
        .new_photo{
            &:hover{
                color: $new_photo_hover;
            }
        }
    }
}
.generete-new-photo{    
    margin: auto;
    width: 50%;
    margin-top: 100px;
}
