/.idea/
db.sqlite3
secret.py
videocolectorwebadmin/__pycache__/__init__.cpython-38.pyc
*.pyc
/jsondb/
/front-end-src/.browserslistrc
/front-end-src/.vscode/
/front-end-src/.gitignore
/front-end-src/karma.conf.js
/front-end-src/package-lock.json
/front-end-src/README.md
/front-end-src/tsconfig.app.json
/front-end-src/tsconfig.json
/front-end-src/tsconfig.spec.json
/front-end-src/angular.json
/front-end-src/.editorconfig
/front-end-src/src/assets/web/
/templete/movies.html
/web/