.col-star{
    margin: 5px;

    a{
        color: black;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        margin-top: -25px;
        margin-bottom: -30px;
    }

    a:hover{
        color: blue;
    }

    .star-cart{
        width: 11rem; 
        height: 20rem;
        padding: 1rem;
        .star-cart-img{
            width: 9rem; 
            height: 18rem; 
        }
    }
}