<nav class="sticky-top">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/start']" [routerLinkActive]="'active'" >Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/movies']" [routerLinkActive]="'active'">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/series']" [routerLinkActive]="'active'">Series</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/stars']" [routerLinkActive]="'active'">Stars</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/producents']" [routerLinkActive]="'active'">Producent</a>
        </li>
    </ul>
</nav>