<nav>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/movies">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/series">Series</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/stars">Stars</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/series">Producent</a>
        </li>
    </ul>
</nav>