$item_hover:rgb(107, 191, 214);
$item_string:black;

.admin{
    .item{
        width: 45rem;
    }
    .actions{
        width: 10rem;
    }
    .item{
        color:$item_string;
        text-decoration: none;
        &:hover{
            color: $item_hover;
        }
    }
    .icon{
        margin-left: 1rem;
    }
}