$rating_color_low:1px solid red;
$rating_color_mid:1px solid rgb(216, 201, 1);
$rating_color_good:1px solid rgb(0, 182, 61);
$starsBGColor:black;
.video-section{
    .section_movie_play{
        display: none;
        .movie_Info{
            position: absolute;
            color: white;
            top: 85%;
            left: 3%;
            .serie_name{
                font-style: italic;
            }
            .movie_name{
                font-weight: bold;
            }
        }
        .movie_controls{
            opacity: .1;
        }
    }
    .movie_section{
        display: block;
        background-color: black;
        position: relative;
        .movie_poster{
            width: 100%; 
            height: 1245px;
            opacity: .6;
        }
        .movie_info{
            width: 50%;
            height: 30%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(241, 237, 237);
            .description,.name{
                text-align: justify;
            }
        }
        .controls{
            .icon_control{
                color:white;
                margin-right: 10px;
            }
            #playbtm{
                background-color: red;
            }
            .form-floating{
                width: 32%;
                label{
                    color: black;
                }
            }
        }
    }
}
.cart_poster_item{
    margin: 15px;
    height: 570px;
    .poster{
        width: 100%;
        height: 300px;
    }
    .card-title{
        a{
            text-decoration: none;
            color: black;
        }
    }
    .star_list{
        a{
            &.star_item{
                font-style: italic;
                text-decoration: none;
            }
        }
    }

    .stats{
        .stat_item{
            margin-left: 10px;
            margin-bottom: 5px;
        }
        display: inline;
        text-align: center;
        font-size: 1rem;
        .stats_rate{
            font-style: italic;
        }
    }
}
.cart-item{
    width:13rem; 
    margin:1rem;
    z-index: 0;
    .stats{
        display: inline;
        padding: 1rem;
        text-align: center;
        font-size: 15px;
        .stats_font{
            margin-left: 4px;
        }
        .stats_rate{
            font-style: italic;
        }
    }
    .card-body{
        a{
            color: black;
            text-decoration: none;
            font-weight: bold;
            display: block;
            text-align: center;
            margin-top: -25px;
            margin-bottom: -30px;
        }

        a:hover{
            color: blue;
        }
    }
    .list-group-item{
        a{
            color: black;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover{
            color: blue;
        }
    }
    .cover{
        
        width: 13rem; 
        height: 20rem;
    }

    .card-text{
        height: 10rem;
        text-align: justify;
    }
    .card-title{
        margin-bottom: 25px;
    }
    .card-title{
        height: 30px;
        a{
            text-decoration: none;
            color: black;
        }
     }
}

.like-procent{
    height: 5px;
    background-color: black;
    display: flex;
    .good{
        background-color: green;
    }

    .bad{
        background-color: red;
    }
}

.movie_rating_low{
    border: $rating_color_low;
}

.movie_rating_mid{
    border: $rating_color_mid;
}

.rating_color_good{
    border: $rating_color_good;
}
  
.galery{
    text-align: center;
    .galery-item{
        padding: 1rem;
        width: 20rem;
        height: 20rem;
    }
}


.baner{
    img{
        width: 100%;
    }
}

.ditels-section{
    font-size: 1rem;
    .star_avatar{
        width: 20rem; 
        height: 25rem;
    }
    .movie_description{
        text-align: justify;
    }
    .table_row{
        margin-bottom: 5px;
        
    }
    .tag{
        a{
            text-decoration: none;
            color: black;
            font-weight: 500;
        }
        a:hover{
            color: blue;
        }
    }

    .star-string,.producent_item,.series_item{
        a {
            color: black;
            text-decoration: none;
            font-weight: bolder;
        }
        a:hover{
            color: rgb(49, 49, 228);
        }
    }
}

.ditels-section{

    .actions{
        width: 500px;
        background-color: rgb(182, 178, 178);
        text-align: center;
        .action-item{
            width: 20%;
            &.click{
                color: rgb(246, 52, 52);
            }
        }
    }

    .stars{
        padding-bottom: 10px;
        .star-name{
            background-color: $starsBGColor;
            color:white; 
        }
        .star_src{
            width: 300px;
            height: 300px;
        }
    }
    .movie_avatar{
        width: 500px;
        height: 700px;
    }
    .movie_description{
        text-align: justify;
        
    }
    .tag{
        font-weight: bold;
    }

    .procent_likes{
        width: 500px;
    }

}

.tabs_nav{
    margin-top:30px;
    background-color: rgba(190, 186, 186, 0.609);
    ul{
        li{
            .nav-link{
                color: white;
                &.active{
                    color: gold;
                    background-color:black;
                    font-weight: bold;
                }
            }
        }
    }
}

.tabs_sticky{
    &.sticky-top{
        top: 50px;
    }
}
.stats_item{
    margin-left: 10px;
}

.btm{
   min-width: 150px;
   max-width: 200px;
}
.fav-tap{
    &.sticky-top{
        background-color: red;
    }
}
.count-item{
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: white;
    &.good{
        background-color: green;
    }

    &.bad{
        background-color: red;
    }
}