.cart_poster_item{
    margin: 15px;
    .star_list{
        a{
            &.star_item{
                font-style: italic;
                text-decoration: none;
            }
        }


    }
}
.cart-item{
    width:13rem; 
    margin:1rem;
    z-index: 0;
    .card-body{
        a{
            color: black;
            text-decoration: none;
            font-weight: bold;
            display: block;
            text-align: center;
            margin-top: -25px;
            margin-bottom: -30px;
        }

        a:hover{
            color: blue;
        }
    }
    .list-group-item{
        a{
            color: black;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover{
            color: blue;
        }
    }
    .cover{
        width: 13rem; 
        height: 20rem;
    }
    .card-text{
        .card-title{
            text-align: center;
         }
        height: 10rem;
        text-align: justify;
    }
    .card-title{
        margin-bottom: 25px;
    }
}