<app-navabr></app-navabr>
<app-movies-admin-navbar id="{{data.id}}" title="{{data.name}}" place="serie"></app-movies-admin-navbar>
<div class="actual_photo container">
  <div class="row justify-content-md-center">
    <div class="col"></div>
    <div class="col">
      <h2>Cover</h2>
      <img src="{{data.avatar}}" class="avatar">
    </div>
    <div class="col"></div>
  </div>
</div>
<div class="small_menu">
    <div class="col">
      Avatar
    </div>
    <div class="col">
      <img src="{{data.avatar}}" class="avatar_small">
    </div>
</div>
<div class="container">
    <app-base-galery 
      class="manage-galery" 
      cover="{{data.avatar}}" 
      poster="" 
      id="{{data.id}}" 
      url="{{galery_url}}" 
      edit_url="{{edit_url}}" 
      movies="0">
    </app-base-galery>
</div>

