{% extends 'base.html' %}
{% block content %}
    <div class="container text-center">
        <form>
            <div class="row" >
        
                <div class="col-auto">
                    <label for="name" class="col-form-label">Name:</label>
                </div>
        
                <div class="col-auto">
                    <input type="text" id="Name" name="name" value="{{search.form.name}}" class="form-control">
                </div>  

                {% if user.is_authenticated %}
                    <div class="col-auto">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="Favorite">Favorite: </label>
                            <input class="form-check-input" type="checkbox" role="switch" id="Favorite"
                            {% if search.form.favorite == 'true' %}
                            checked
                            {% endif %}
                            >
                        </div>
                    </div>
                {% endif %}
        
                {% if 'producent' in data.filters %}

                    <div class="col-auto">
                        <label for="name" class="col-form-label">Producents:</label>
                    </div>
                    <div class="col-auto">
                        <select id="Producent" class="form-control">
                            <option></option>
                            {% for producent in search.producents_select %}
                                <option value="{{producent.id}}">{{producent.name}}<option>
                            {% endfor %}
                        </select>
                    </div>

                {% endif %}

                {% if 'serie' in data.filters %}
                    <div class="col-auto">
                        <label for="name" class="col-form-label">Series:</label>
                    </div>
                    <div class="col-auto">
                        <select id="Series" class="form-control">
                            <option></option>
                            {% for serie in search.series_select %}
                                <option value="{{serie.id}}">{{serie.name}}
                                <option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                <div class="col-auto">
                    <button id="search">Submit</button>
                </div>
        
            </div>
        </form>

        <div class="row" >
            <div class="col p-2" style="">
                <a class="page-item" href="{{data.previous_page_url}}">
                    {% if data.previous %}
                        Previous
                    {% endif %}
                </a>
            </div>
            <div class="col p-2" style="">
                <h2>
                    {{data.head}}
                    {% if data.id and data.place %}
                    - <a href="http://127.0.0.1:8000/{{data.place}}/{{data.id}}">{{title}}</a>
                    {% endif %}
                </h2>
            </div>
            <div class="col p-2" style="">
                <a class="page-item" href="{{data.next_page_url}}">
                    {% if data.next %}
                        Next
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="container movies" style="margin-top:0px;">
            <div class="row" >
                {% for i in results %}
                <div class="card" style="width: 30rem; margin:1rem;">
                    <a href="http://127.0.0.1:8000/{{data.base_url}}/{{i.id}}" >
                        <img class="card-img-top" src="{{ i.poster | default:'http://127.0.0.1:8000/static/assets/img/no_poster.jpg' }}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                    <h5 class="card-title card-link">{{ i.show_name | default:i.name }}</h5>
                      <p class="card-text" style="text-align: justify;">{{ i.description|truncatewords:30 }}</p>
                    </div>
                    <div class="card-body">
                        {% for star in i.stars|slice:":3" %}
                        <a href="http://127.0.0.1:8000/star/{{star.id}}" class="card-link">{{star.name}}</a>
                        {% endfor %}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="http://127.0.0.1:8000/producent/{{i.id}}" class="card-link">{{i.producent.name}}</a></li>
                        <li class="list-group-item"><a href="http://127.0.0.1:8000/serie/{{i.id}}" class="card-link">{{i.serie.name}}</a></li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row" >
            <div class="col p-2" style="">
                <a class="page-item" href="{{data.previous_page_url}}">
                    {% if data.previous %}
                        Previous
                    {% endif %}
                </a>
            </div>
            <div class="col p-2" style="">
                <h2>
                    {{data.head}}
                    {% if data.id and data.place %}
                    - <a href="http://127.0.0.1:8000/{{data.place}}/{{data.id}}">{{title}}</a>
                    {% endif %}
                </h2>
            </div>
            <div class="col p-2" style="">
                <a class="page-item" href="{{data.next_page_url}}">
                    {% if data.next %}
                        Next
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
    <script>
        document.title = "Movies"

        select =document.getElementById("Series")
        for (let el of select){
            if (el.value === '{{search.form.serie}}'){
                el.selected = true
            }
        }

        select =document.getElementById("Producent")
        for (let el of select){
            if (el.value === '{{search.form.producent}}'){
                el.selected = true
            }
        }

        document.getElementById("search").addEventListener("click", function(event){

            event.preventDefault()
            let Name = document.getElementById("Name").value 
            let Series = document.getElementById("Series")
            let Producent = document.getElementById("Producent")
            let Favorite = document.getElementById("Favorite")

            let page_url = '{{request_get_full_path}}?page=1&name='+Name
            
            if (Series){
                page_url=page_url += '&serie='+Series.value
            }

            if (Producent){
                page_url=page_url += '&producent='+Producent.value
            }

            if (Favorite){
                page_url=page_url+= '&favorite='+Favorite.checked
            }
            
            window.location.assign(page_url)
        });
    </script>
    <style>
        .cart_poster_item {
          margin: 15px;
          height: 570px;
        }
        
        .cart_poster_item .poster {
          width: 100%;
          height: 300px;
        }
        
        .cart_poster_item .card-title a {
          text-decoration: none;
          color: black;
        }
        
        .cart_poster_item .star_list a.star_item {
          font-style: italic;
          text-decoration: none;
        }
        
        .cart_poster_item .stats {
          display: inline;
          text-align: center;
          font-size: 1rem;
        }
        
        .cart_poster_item .stats .stat_item {
          margin-left: 10px;
          margin-bottom: 5px;
        }
        
        .cart_poster_item .stats .stats_rate {
          font-style: italic;
        }
      </style>
{% endblock %}



