{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <a href="{% url 'webapp:moviessithstars' result.id %}?title=stars from {{result.name}}&id={{result.id}}&&place=movie" class="btn btn-primary">Movies With Stars</a>
        <a href="{% url 'webapp:moviephoto' result.id %}?title={{result.name}}&id={{result.id}}&&place=movie" class="btn btn-primary">Photos</a>
        {% if user.is_authenticated %}
            <a href="../../admin/wideocollectorseader/movie/{{result.id}}/change" class="btn btn-primary">Edit</a>
        {% endif %}
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Stars
        </button>
        <ul class="dropdown-menu">
            {% for star in result.stars %}
                <li>
                    <a class="dropdown-item" href="{% url 'webapp:star' star.id %}">
                        {{star.name}}
                    </a>
                </li>
            {% endfor %}
        </ul>
      </div>
    </div>
    <h2>{{ result.show_name | default:result.name }}</h2>
    {% if result.source %}
    <a href="{{result.source}}">
        <img width="1300" height="700" src="{{ result.poster | default:'http://127.0.0.1:8000/static/assets/img/no_poster.jpg' }}">
    </a>
    {% endif %}
    {% if result.source == '' %}
        <video width="1300" height="700" poster="{{result.poster}}" muted controls>
          <source src="{{result.src}}" type="video/mp4">
        </video>
    {% endif %}
    <div class="row">
        <div class="col">
            <h2>Data</h2>
        </div>
        <div class="col">
            {% if user.is_authenticated %}
            <div class="btn-group" role="group" aria-label="Buttons">
                <a class="btn btn-info"><i class="fa-light fa-solid fa-eye fa-lg"></i> {{ result.views_count }}</a>
                {% if action.like is False %}
                    <a class="btn btn-success" href="{{add_like}}"><i class="fa-solid fa-thumbs-up"></i> {{ result.likes_count }}</a>
                {% endif %}
                {% if action.like is True %}
                    <a class="btn btn-success disabled" href="{{add_like}}"><i class="fa-sharp fa-solid fa-thumbs-up fa-lg"></i> {{ result.likes_count }}</a>
                {% endif %}
        
                {% if action.dis_like is False %}
                    <a class="btn btn-danger" href="{{add_dislike}}"><i class="fa-sharp fa-solid fa-thumbs-up fa-lg"></i> {{ result.disLikes_count }}</a>
                {% endif %}
                {% if action.dis_like is True %}
                    <a class="btn btn-danger disabled" href="{{add_dislike}}"><i class="fa-solid fa-thumbs-down fa-lg"></i> {{ result.disLikes_count }}</a>
                {% endif %}
        
                {% if action.stan_favorite is False %}
                    <a class="btn btn-info" href="{{add_favorite}}"><i class="fa-sharp fa-solid fa-heart fa-lg"></i></a>
                {% endif %}
                {% if action.stan_favorite is True %}
                    <a class="btn btn-info" href="{{add_favorite}}"><i class="fa-sharp fa-solid fa-heart" style="color: #ff0000;"></i></a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>    


    <div class="row">
        <div class="col">
            <img width="350" height="800" class="cover" src="{{ result.front_cover | default:'http://127.0.0.1:8000/static/assets/img/no_poster.jpg' }}">
            {% if action.set_rating is False %}
            <div class="rating">
                <a href="{{rate_url}}?rate=1"><i class="far fa-star"></i></a>
                <a href="{{rate_url}}?rate=2"><i class="far fa-star"></i></a>
                <a href="{{rate_url}}?rate=3"><i class="far fa-star"></i></a>
                <a href="{{rate_url}}?rate=4"><i class="far fa-star"></i></a>
                <a href="{{rate_url}}?rate=5"><i class="far fa-star"></i></a>
            </div>
            {% endif %}
            {% if action.set_rating %}
                <div class="rating">
                    {{rating}} / {{result.avg_rating}}
                </div>
            {% endif %}
        </div>
        <div class="col">
            <table class="table table-borderless">
              <tbody>
                <tr>
                    <td>Show Name</td>
                    <td>{{ result.show_name | default:result.name }}</td>
                </tr>
                <tr>
                    <td>Producent</td>
                    <td><a href="{% url 'webapp:producet' result.producent.id %}">{{result.producent.name}}</a></td>
                </tr>
                <tr>
                    <td>Serie</td>
                    <td><a href="{% url 'webapp:serie' result.serie.id %}">{{result.serie.name}}</a></td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>{{result.country}}</td>
                </tr>
                <tr>
                    <td>Date Relesed</td>
                    <td>{{result.date_relesed}}</td>
                </tr>
                <tr>
                    <td>Date Relesed</td>
                    <td>{{result.date_relesed}}</td>
                </tr>

                {% if result.stars %}
                <tr>
                    <td>
                        Stars
                    </td>
                    <td>
                        {% for star in result.stars %}
                        <div>
                            <a href="{% url 'webapp:star' star.id %}">{{star.name}}</a>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}

                {% if result.description %}
                <tr>
                    <td>Description</td>
                    <td style="text-align: justify;">{{result.description}}</td>
                </tr>
                {% endif %}

                <tr>
                    <td>Tags</td>
                    <td>
                        {% for tag in result.tags %}
                        {{tag.name}}<br>
                        {% endfor %}
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
<style>
     .rating__star {
        cursor: pointer;
        color: #dabd18b2;
     }
</style>
<script>
    const ratingStars = [...document.getElementsByClassName("fa-star")];

    function executeRating(stars) {
      const starClassActive = "rating__star  fas fa-star";
      const starClassInactive = "far fa-star";
      const starsLength = stars.length;
      let i;
      stars.map((star) => {
        star.onmouseover = () => {
          i = stars.indexOf(star);

          if (star.className===starClassInactive) {
            for (i; i >= 0; --i) stars[i].className = starClassActive;
          } else {
            for (i; i < starsLength; ++i) stars[i].className = starClassInactive;
          }
        };
      });
    }
    executeRating(ratingStars);


</script>
{% endblock %}