{% extends 'base.html' %}
{% block content %}
    <div class="container text-center">

        <form>
            <div class="row" >
        
                <div class="col-auto">
                    <label for="name" class="col-form-label">Name:</label>
                </div>
        
                <div class="col-auto">
                    <input type="text" id="search_name" name="search_name" class="form-control">
                </div>  

                <div class="col-auto">
                    <button id="search">Submit</button>
                </div>
        
            </div>
        </form>

        <div class="row" >
            <div class="col p-2" style="">
                <a class="page-item" href="{{data.previous_page_url}}">
                    {% if data.previous %}
                        Previous
                    {% endif %}
                </a>
            </div>
            <div class="col p-2" style="">
                <h2>
                    {{data.head}}
                    {% if data.id and data.place %}
                    - <a href="http://127.0.0.1:8000/{{data.place}}/{{data.id}}">{{title}}</a>
                    {% endif %}
                </h2>
            </div>
            <div class="col p-2" style="">
                <a class="page-item" href="{{data.next_page_url}}">
                    {% if data.next %}
                        Next
                    {% endif %}
                </a>
            </div>
        </div>
            <div class="row" >
                {% for i in results %}
                <div class="col p-3" style="">
                    <div class="card" style="width:12rem; height: 20em;">
                     <img height="300" src="{{ i.poster | default:'http://127.0.0.1:8000/static/assets/img/castum-no_avatar_star.png' }}" class="card-img-top" alt="{{i.name}}">
                      <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                        <p class="card-text" style="text-align: justify;">{{ i.description|truncatewords:30 }}</p>
                      </div>
                        <a href="http://127.0.0.1:8000/{{data.base_url}}/{{i.id}}" class="btn btn-primary">Watch !</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script>
            document.getElementById("search").addEventListener("click", function(event){
    
                event.preventDefault()
                let search_name = document.getElementById("search_name").value    
    
                const page_url = '{{request_get_full_path}}?page=1&name='+search_name
    
                window.location.assign(page_url)
            });
        </script>
{% endblock %}

