<div class="d-flex justify-content-center baner">
    <img src="{{data.banner}}" class="baner_js">
</div>
<div class="content">
    <h1 class="d-flex justify-content-center">{{data.show_name}}</h1>
    <div class="container ditels-section">
        <div class="row">
            <div class="col">
                <img class="star_avatar" src="{{data.avatar}}">
            </div>
            <div class="col">
                <h1 class="d-flex justify-content-center">Description</h1>
                <p class="description_js movie_description">{{data.description}}</p>
                <h1 class="d-flex justify-content-center">More Informaton</h1>
                <div class="table_information">
                    <ng-template [ngIf]="data.Producent">
                        <div class="row">
                            <div class="col">
                                Producent
                            </div>
                            <div class="col table_row producent_item">
                                <a [routerLink]="['/producent/',data.Producent.id]">
                                    {{data.Producent.show_name}}
                                </a>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template [ngIf]="data.tags.length>0">
                        <div class="row">
                            <div class="col table_row">
                                Tags
                            </div>
                            <div class="col stars_strig_js">
                                <span *ngFor="let tag of data.tags; let i=index">
                                    <span class='tag'><a [routerLink]="['/tag/',tag.id]" >{{tag.name}}</a></span>
                                    <ng-template [ngIf]="i<data.tags.length-1">
                                        ,
                                    </ng-template>
                                </span>
                            </div>
                        </div>
                    </ng-template>

                    <div class="row">
                        <div class="col table_row">
                            Likes 
                        </div>
                        <div class="col table_row">
                            <i class="fas fa-thumbs-up"></i> {{data.likes_count | bigInt}}
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col table_row">
                            Ratings
                        </div>
                        <div class="col table_row">
                            <i class="fas fa-star"></i> {{data.ratings_count | bigInt}} ({{data.avg_rating}})
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col table_row">
                            Views
                        </div>
                        <div class="col table_row">
                            <i class="fas fa-eye"></i> {{data.views_count | bigInt}}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col table_row">
                            Dis Likes
                        </div>
                        <div class="col table_row">
                            <i class="fas fa-thumbs-down"></i> {{data.disLikes_count | bigInt}}
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <button (click)="add_like()" class="action-item" [ngClass]="{'click' : if_liked}" [disabled]="if_liked"><i class="fas fa-thumbs-up"></i></button>
                    <button (click)="add_to_if_favorite()" class="action-item" [ngClass]="{'click' : if_favorite}" [disabled]="if_favorite"><i class="fas fa-star"></i></button>
                    <button (click)="add_dislike()" class="action-item" [ngClass]="{'click' : if_disliked}" [disabled]="if_disliked"><i class="fas fa-thumbs-down" ></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs_nav">

        <ul class="nav nav-pills mb-3 tab_nav d-flex justify-content-center tabs_sticky sticky-top" id="pills-tab" role="tablist">
            <li class="nav-item galery_tab_js nav_tab" name="galery" role="presentation nav_tab">
                <button class="nav-link" id="pills-galery-tab" data-bs-toggle="pill"
                        data-bs-target="#galery-tab" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">Galery
                </button>
            </li>

            <li class="nav-item nav_tab movies_series_tab" name="movies_series" role="presentation nav_tab">
                <button class="nav-link name_js series_name_js" id="pills-stars-movies" data-bs-toggle="pill"
                        data-bs-target="#movis-stars" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">{{data.show_name}}
                </button>
            </li>


            <li class="nav-item nav_tab movies_series_stars_tab" name="movies_series_stars" role="presentation">
                <button class="nav-link" id="pills-stars-tab" data-bs-toggle="pill"
                        data-bs-target="#stars-tab" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">Top Stars
                </button>
            </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade galery_tab_js tab_content" id="galery-tab" type="Galery" role="tabpanel"
            aria-labelledby="pills-galery-tab">
           <div class="container">
               <div class="row galery galery-run">
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
                   test<br>
               </div>
           </div>
            </div>

            <div class="tab-pane fade tab_content movies_series_tab" id="movis-stars" role="tabpanel" type="movies_in_series"
                 aria-labelledby="pills-stars-movies">
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
                 movies<br>
            </div>

            <div class="tab-pane fade tab_content movies_series_stars_tab" id="stars-tab" role="tabpanel"
                 type="top-stars"
                 aria-labelledby="pills-stars-tab">
            </div>

        </div>
        
    </div>

</div>