<app-navabr></app-navabr>
<app-admin-navbar></app-admin-navbar>
<div class="container admin">
    <table class="table">
        <tbody>
        <tr *ngFor="let el of data; let i = index">
            <td class="item">
                <a class="item" [routerLink]="el.item_url"><b>{{el.name}}</b>
                    <ng-template [ngIf]="el.show_name"> - {{el.show_name}}</ng-template>
                </a>
            </td>
            <td class="actions">  
                <a class="item" [routerLink]="el.edit_url"><i class="fas fa-edit icon"></i></a>
                <a class="item" [routerLink]="el.galery_url"><i class="fas fa-photo-video icon"></i></a>
                <a class="item" [routerLink]="el.tag_url"><i class="fas fa-tag icon"></i></a>
                <a class="item" [routerLink]="el.stats_url"><i class="fas fa-chart-pie icon"></i></a>
                <a class="item" (click)="set_delete(el,i)" ><i class="fas fa-trash icon" data-bs-toggle="modal" data-bs-target="#exampleModal"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div [hidden]="data.length">
        <div class="alert alert-warning" role="alert">
            List is Empty !
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deleting {{delete_name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            You want to Delete <b>{{delete_name}}</b><br>
            Are You Sure ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="delete()" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>