<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addstar">
                Add item
            </button>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Delete (only from object)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of list ; let i = index">
          <th scope="row">{{el.id}}</th>
          <td>{{el.name}}</td>
          <td></td>
          <td (click)="item_remove(i,el.id)"><a class="item"><i class="fas fa-trash icon"></i></a></td>
        </tr>
      </tbody>
</table>
<div class="container" [hidden]="list.length">
    <div class="row justify-content-md-center">
        List is Empty !!
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addstar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <select *ngIf="add_section=='stars'" class="form-select" multiple aria-label="multiple select example">
            <option *ngFor="let star of RelationSelectService.stars" (click)="add_item(star)" value="{{star.id}}" [hidden]="!if_exist_in_list(star.id)" selected>{{star.name}}</option>
            <option *ngFor="let star of RelationSelectService.stars" (click)="add_item(star)" value="{{star.id}}" [hidden]="if_exist_in_list(star.id)" >{{star.name}}</option>
        </select>
        <select *ngIf="add_section=='tags'" class="form-select" multiple aria-label="multiple select example">
            <option *ngFor="let tag of RelationSelectService.tags" (click)="add_item(tag)" value="{{tag.id}}" [hidden]="!if_exist_in_list(tag.id)" selected>{{tag.name}}</option>
            <option *ngFor="let tag of RelationSelectService.tags" (click)="add_item(tag)" value="{{tag.id}}" [hidden]="if_exist_in_list(tag.id)" >{{tag.name}}</option>
        </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
