<div class="container">
    <div *ngFor="let seazon of data">
        <h2>Seazon {{seazon.number}}</h2>
        <div class="row">
            <div class="col-3">
                <img class="cover" src="{{seazon.front_cover}}">
            </div>
            <div class="col-9">
                <ul class="list-group">
                    <li class="list-group-item seazon-item" *ngFor="let movie of seazon.movies" >
                        <div>
                            <div class="row">
                                <div class="col-8">
                                    <a href="/movie/{{movie.id}}" >{{movie|fullName:60}}</a>
                                </div>
                                <div class="col-4">
                                    <ng-template [ngIf]="movie.stars.length>0">
                                        <a class="card-link" [routerLink]="['/star/',movie.stars[0].id]">
                                            {{movie.stars[0]|fullName:15}}
                                        </a>
                                        <ng-template [ngIf]="movie.stars.length>1">
                                        + <i>{{movie.stars.length-1}}</i>
                                        </ng-template>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
</div>