<app-navabr></app-navabr>
<div class="container">
    <div class="row">
        <div class="col" *ngFor="let serie of data">
            <div class="card series-cart">
                <img src="{{serie.avatar}}" class="card-img-top">
                <div class="card-body">
                </div>
                <h5 class="card-title">{{serie.show_name}}</h5>
                <p class="card-text">{{serie.description}}</p>
                <a href="'+serie.dir+'/series_id.html" class="btn btn-primary">{{serie.show_name}}</a>
            </div>
        </div>
    </div>
</div>