<form class="fixed-top" [formGroup]="search" style="top:50px;">
  <div class="filter row-cols-1">
    <div class="row">
    <div class="col">
        <label for="name">Name: </label>
    </div>
    <div class="col">
        <input id="name" type="text" (keyup)="serch()" formControlName="name" class="name-search">
    </div>
  <div class="col">
      <select class="producent-search" aria-label="Default select example">
        <option selected>Select Producent</option>
      </select>
  </div>
  <div class="col">
    <select class="series-search" (change)="serch()" aria-label="Default select example" formControlName="series">
      <option selected>Select Series</option>
      <option *ngFor="let serie of series_select" value="{{serie.id}}" >{{serie.name}}</option>
    </select>
  </div>
  <div class="col">
    <div class="form-check form-switch">
      <label class="form-check-label" for="flexSwitchCheckDefault">{{mode}}</label>
      <input class="form-check-input" type="checkbox" (click)="change_mode()" role="switch" id="flexSwitchCheckDefault">
    </div>
  </div>
  <div class="col">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="load_items_for_form()">
      Filtr
    </button>
  </div>
  </div>
  </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search Filtr</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="h6">Tags</p>
        <select class="form-select" multiple aria-label="multiple select example">
          <option   *ngFor="let tag of tags" (click)="add_tag(tag.id)" value="{{tag.id}}">{{tag.name}}</option>
        </select>
        
        <p class="h6">Stars</p>
        <select class="form-select" multiple aria-label="multiple select example">
          <option   *ngFor="let star of stars" value="{{star.id}}">{{star.name}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="serch()" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<ng-template [ngIf]="mode=='poster'">
  <div class="container" style="margin-top:150px;">
    <div class="row row-cols-2">
      <div class="col" *ngFor="let movie of data">
        <div class="card cart_poster_item">
          <img src="{{movie.poster}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{movie.show_name}}</h5>
            <p class="card-text">{{movie.description | stringLenght  }}</p>
          </div>
          <ng-template [ngIf]="movie.stars">
          <div class="card-body star_list">
            <a *ngFor="let star of movie.js_stars_poster" href="#" class="card-link star_item">{{star.name}}</a>
          </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="mode=='cover'">
<div class="container movies" style="margin-top:150px;">
  <div class="row">
    <div class="col" *ngFor="let movie of data">
      <div class="card cart-item">
        <img src="{{movie.avatar}}" class="card-img-top cover" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movie.show_name}}</h5>
          <p class="card-text">{{movie.description | stringLenght  }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="" class="card-link">{{movie.serie.show_name}}</a></li>
          <li class="list-group-item">
            <a *ngFor="let star of movie.js_stars" href="'+index_round.dir+'/stars_id.html" class="card-link">{{star.name}}</a>
            <ng-template [ngIf]="movie.more">
              + <i>{{movie.more}}</i>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</ng-template>