<app-navabr></app-navabr>

<ng-template [ngIf]="mode=='poster'">
  <div class="container">
    <div class="row row-cols-2">
      <div class="col" *ngFor="let movie of data">
        <div class="card">
          <img src="{{movie.poster}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{movie.show_name}}</h5>
            <p class="card-text">{{movie.description}}</p>
          </div>
          <ng-template [ngIf]="movie.stars">
          <div class="card-body">
            <a *ngFor="let star of movie.stars" href="#" class="card-link">{{star.name}}</a>
          </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="mode=='cover'">
<div class="container">
  <div class="row">
    <div class="col" *ngFor="let movie of data">
      <div class="card cart-item">
        <img src="{{movie.avatar}}" class="card-img-top cover" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{movie.show_name}}</h5>
          <p class="card-text">{{movie.description | stringLenght  }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="" class="card-link">{{movie.serie.show_name}}</a></li>
          <li class="list-group-item">
            <a *ngFor="let star of movie.js_stars" href="'+index_round.dir+'/stars_id.html" class="card-link">{{star.name}}</a>
            <ng-template [ngIf]="movie.more">
              + <i>{{movie.more}}</i>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</ng-template>