<table class="table table-bordered galery-table">
    <thead>
      <tr>
        <th scope="col">Photo</th>
        <th scope="col">Url</th>
        <ng-template [ngIf]="!movies">
          <th scope="col">Set As Poster</th>
        </ng-template>
        <th scope="col">Set As Cover</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of data">
        <td><img src="{{el.show_url}}" class="photo"></td>
        <td>{{el.show_url}}</td>
        <td><button [ngClass]="{'item_set': el.is_cover}" [disabled]="el.is_cover"  (click)="update_cover(el.show_url)">Cover</button></td>
        <ng-template [ngIf]="!movies">
          <td><button [ngClass]="{'item_set': el.is_poster}" [disabled]="el.is_poster" (click)="update_poster(el.show_url)">Poster</button></td>
        </ng-template>
        <td><button (click)="delete_photo(el.url)">Delete</button></td>
      </tr>
    </tbody>
</table>