<table class="table table-bordered galery-table">
    <thead>
      <tr>
        <th scope="col">Photo</th>
        <th scope="col">Url</th>
        <th scope="col">Set As Poster</th>
        <th scope="col">Set As Cover</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of data">
        <td><img src="http://127.0.0.1:8000/{{el.url}}" class="photo"></td>
        <td>http://127.0.0.1:8000/{{el.url}}</td>
        <td><button>Cover</button></td>
        <td><button>Poster</button></td>
        <td><button>Delete</button></td>
      </tr>
    </tbody>
</table>