<app-navabr></app-navabr>
<main class="content">
    <form [formGroup]="star_palyer">
        <section class="video-section">
            <div class="jumbotron movie_section" style="height:1250px">
                <ng-template [ngIf]="data.poster">
                    <img class="movie_poster" src="{{data.poster}}">
                </ng-template>
                <div class="movie_info">
                    <h1 class="display-4">
                        <ng-template [ngIf]="data.serie">
                            <b>{{data.serie|name}}</b> 
                        </ng-template>
                        <i>{{data|name}}</i>
                    </h1>
                    <hr class="my-4">
                    <div class="controls d-flex align-items-stretch">
                        <button id="startmovie" class="btn btn-primary btn-lg"><i id="startmovieicon" class="fas fa-play"></i></button>
                        <ng-template [ngIf]="data.serie">
                            <button id="mute" (click)="next_movie_in_series()" class="btn bg-white input_poster">{{data.serie|name}}</button>
                        </ng-template>
                        <ng-template [ngIf]="data.stars.length>0">
                            <button id="mute" (click)="next_movie_with_star(data.stars[0].id)" class="btn bg-white input_poster">{{data.stars[0]|name}}</button>
                        </ng-template>
                        <ng-template [ngIf]="data.stars.length>1">
                            <button id="mute" (click)="next_movie_with_star(data.stars[1].id)" class="btn bg-white input_poster">{{data.stars[1]|name}}</button>
                        </ng-template>
                        <ng-template [ngIf]="data.stars.length>2">
                            <div class="form-floating input_poster">
                                <select class="form-select series-search btn bg-white form-select btn-lg"  (change)="next_movie_with_star()" id="floatingSelect" aria-label="Floating label select example" formControlName="star">
                                    <option *ngFor="let star of data.stars" value="{{star.id}}" aria-label="Default select example">{{star.name}}</option>
                                </select>
                                <label for="floatingSelect">Select Star to show next Movie</label>
                            </div>
                        </ng-template>
                    </div>
                    <p class="lead description">{{data|desc}}</p>
                </div>
            </div> 
            <div class="movie section_movie_play" style="background-color: black;" style="height:1250px">
                    <div class="if_poster">
                        <video style="min-height:100%" src="{{data.src}}"
                            class="wideo_src" id="bgvid" poster="{{data.poster}}" muted>
                            <source type="video/mp4" >
                        </video>
                        <div class="controls movie_controls" style="text-align: center;">
                            <div class="movie_Info">
                                <div class="serie_name">
                                    <ng-template [ngIf]="data.producent">
                                        {{data.producent | name }} -
                                    </ng-template>
                                    {{data.serie | name}}
                                </div>
                                <div class="movie_name">{{data | name}}</div>
                            </div>
                            <div class="row rage">
                                <div class="col">
                                    <input type="range" id="range" value="0" min="0" max="100" value="0" step="1"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span id="play"  class="control-item"><i id="playbtm" class="fas fa-play"></i></span>
                                </div>
                                <div class="col">
                                    <span id="time" class="control-item"><span id="curtimetext">00:00</span> / <span id="durtimetext">00:00</span></span>
                                </div>
                                <div class="col">
                                    <span id="muteVideo" class="control-item"><i id="mutebtm" class="fas fa-volume-up"></i></span>
                                    <span id="fullScreen" class="control-item"><i id="fullScreenbtm" class="fas fa-expand"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>        
            </div>
        </section>
    </form>
    <div class="ditels-section">
        <div class="stars">
            <h1 class="d-flex justify-content-center star-name">Stars</h1>
            <div class="d-flex justify-content-center stars_js">
                <a *ngFor="let star of data.stars" [routerLink]="['/star/',star.id]" class="card-link star_item">
                    <img src="{{star|img:'star_avatar'}}" class="img-thubnail star_src">
                </a>
            </div>
        </div>
        <h1 class="d-flex justify-content-center">Movie Informaton</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="avatar_js movie_avatar" 
                        [ngClass]="{
                                    'rating_color_good': RatingService.if_good_rating(data),
                                    'movie_rating_mid' : RatingService.if_mid_rating(data),
                                    'movie_rating_low' : RatingService.if_low_rating(data)
                                   }" 
                        src="{{data|img:'avatar'}}">
                    <div class="procent_likes">
                        <div class="like-procent">
                            <div class="good" [ngStyle]="{'width': good_procent}"></div>
                            <div class="bad"  [ngStyle]="{'width': bad_procent}"></div>
                        </div>
                    </div>
                    <ng-template [ngIf]="TokkenService.if_isset_tokken()">
                        <app-actions 
                        update_views_url="{{return_update_views_url()}}" 
                        edit_link="{{return_edit_url()}}" 
                        add_to_favorite_url="{{return_add_to_favorite_url()}}" 
                        favorite_stan="{{return_chceck_favorit_stan_url()}}" 
                        add_like_url="{{return_add_to_like_url()}}" 
                        add_to_dislike_url="{{return_add_to_dislike_url()}}" 
                        add_to_rating_url="{{return_add_to_ratng_url()}}"></app-actions>
                    </ng-template>
                </div>
                <div class="col">
                    <h2 class="name_js d-flex justify-content-center">{{data|name}}</h2>
                    <p class="description_js movie_description">{{data|desc}}</p>
                    
                    <div class="table_information">
                        <ng-template [ngIf]="data.producent">
                            <div class="row">
                                <div class="col">
                                    Producent
                                </div>
                                <div class="col table_row producent_item">
                                    <a [routerLink]="['/producent/',data.producent.id]">
                                        {{data.producent|name}}
                                    </a>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template [ngIf]="data.serie">
                            <div class="row ">
                                <div class="col">
                                    Serie
                                </div>
                                <div class="col table_row series_item">
                                    <a [routerLink]="['/serie/',data.serie.id]">
                                        {{data.serie|name}}
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                        
                        <ng-template [ngIf]="data.stars.length>0">
                            <div class="row">
                                <div class="col">
                                    Stars
                                </div>
                                <div class="col stars_strig_js table_row">
                                    <span *ngFor="let star of data.stars; let i=index">
                                        <span class='star-string'><a [routerLink]="['/star/',star.id]" >{{star|name}}</a></span>
                                        <ng-template [ngIf]="i<data.stars.length-1">
                                            ,
                                        </ng-template>
                                    </span>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template [ngIf]="data.tags.length>0">
                            <div class="row">
                                <div class="col table_row">
                                    Tags
                                </div>
                                <div class="col stars_strig_js">
                                    <span *ngFor="let tag of data.tags; let i=index">
                                        <span class='tag'><a [routerLink]="['/tag/',tag.id]" >{{tag|name}}</a></span>
                                        <ng-template [ngIf]="i<data.tags.length-1">
                                            ,
                                        </ng-template>
                                    </span>
                                </div>
                            </div>
                        </ng-template>

                        <div class="row">
                            <div class="col table_row">
                                Likes 
                            </div>
                            <div class="col table_row">
                                <i class="fas fa-thumbs-up"></i><span class="stats_item like_js">{{data.likes_count | bigInt}}</span>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col table_row">
                                Ratings
                            </div>
                            <div class="col table_row">
                                <i class="fas fa-star"></i> <span class="stats_item ratting_js">{{data.ratings_count | bigInt}}</span> ({{data.avg_rating}})
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col table_row">
                                Views
                            </div>
                            <div class="col table_row">
                                <i class="fas fa-eye"></i> <span class="stats_item views_js">{{data.views_count | bigInt}}</span>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col table_row">
                                Dis Likes
                            </div>
                            <div class="col table_row">
                                <i class="fas fa-thumbs-down"></i><span class="stats_item dislike_js">{{data.disLikes_count | bigInt}}</span>
                            </div>
                        </div>

                        <ng-template [ngIf]="data.date_relesed">
                            <div class="row">
                                <div class="col table_row">
                                    Date relesed
                                </div>
                                <div class="col table_row">
                                    {{data.date_relesed}}
                                </div>
                            </div>
                        </ng-template>  
                        
                        <div class="row">
                            <div class="col table_row">
                                Added
                            </div>
                            <div class="col table_row">
                                {{data.added|date}}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        
        <div class="tabs_nav sticky-top tabs_sticky">
            <ul class="nav nav-pills mb-3 tab_nav d-flex justify-content-center" 
                id="pills-tab" 
                role="tablist">
                <li class="nav-item galery_tab_js nav_tab" 
                    name="galery" 
                    role="presentation">
                    <button class="nav-link" 
                            id="pills-galery-tab" 
                            data-bs-toggle="pill"
                            data-bs-target="#galery-tab" 
                            type="button" 
                            role="tab" 
                            aria-controls="pills-contact"
                            aria-selected="false" 
                            (click)="button_section='galery'">Galery
                    </button>
                </li>
                <li class="nav-item movies_series_tab nav_tab" 
                    name="movies_series" 
                    role="presentation">
                    <button class="nav-link all-series-name" 
                            id="pills-home-tab" 
                            data-bs-toggle="pill"
                            data-bs-target="#pills-home" 
                            type="button" 
                            role="tab" 
                            aria-controls="pills-home"
                            aria-selected="false" (click)="button_section='serie'">All movies in series {{data.serie | name}}
                    </button>
                </li>
                <li class="nav-item movies_with_stars_tab nav_tab" 
                    name="movies_with_stars" 
                    role="presentation">
                    <button class="nav-link all-with-star-name" 
                            id="pills-profile-tab" 
                            data-bs-toggle="pill"
                            data-bs-target="#pills-profile" 
                            type="button" role="tab" 
                            aria-controls="pills-profile"
                            aria-selected="false" (click)="button_section='stars-movies'">All movies with star in {{data | name}}
                    </button>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="pills-tabContent">
         
                <div class="tab-pane fade galery_tab_js tab_content" 
                    id="galery-tab" 
                    type="Galery" 
                    role="tabpanel" 
                    aria-labelledby="pills-galery-tab">
                    <div class="container">
                        <div class="row galery galery-run">
                            <ng-template [ngIf]="button_section=='galery'">
                                <app-movie-photos title="Photos {{data | name}}" ID={{data.id}}></app-movie-photos>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade movies_series_tab tab_content serie-movies" 
                    id="pills-home" 
                    role="tabpanel"
                    type="movies_in_series"
                    aria-labelledby="pills-home-tab">
                    <ng-template [ngIf]="button_section=='serie'">
                        <app-serie-movies title="Movies in Series {{data.serie | name}}" ID={{data.serie.id}} top="100px"></app-serie-movies>
                    </ng-template>
                </div>

            <div class="tab-pane fade movies_with_stars_tab tab_content" 
                id="pills-profile" 
                role="tabpanel"
                type="all_movies_with_star"
                aria-labelledby="pills-profile-tab">
                <ng-template [ngIf]="button_section=='stars-movies'">
                    <app-stars-movies title="All movies with star in {{data | name}}" ID={{data.id}} top="100px"></app-stars-movies>  
                </ng-template>     
            </div>
        </div>
    </div>
</main>