<div class="card cart-item">
    <img src="{{El|img:'avatar'}}" 
        class="card-img-top cover" 
        [ngClass]="{
                        'rating_color_good' 
                        : RatingService.if_good_rating(El),'movie_rating_mid' 
                        : RatingService.if_mid_rating(El),'movie_rating_low' 
                        : RatingService.if_low_rating(El)
                   }" 
        alt="assets/icon/movie.jpg">
    <div class="card-body">
      <h5 class="card-title"><a [routerLink]="['/movie/',El.id]" >{{El.name | stringLenght:30}}</a></h5>
      <p class="card-text">{{El|fullDesc:130 }}</p>
    </div>
    <ng-template [ngIf]="El.likes_count>0">
      <div class="like-procent">
          <div class="good" [ngStyle]="{'width': El.good_procent}"></div>
          <div class="bad"  [ngStyle]="{'width': El.bad_procent}"></div>
      </div>
    </ng-template>
    <ul class="list-group list-group-flush">
      <ng-template [ngIf]="El.serie">
        <li class="list-group-item"><a  [routerLink]="['/serie/',El.serie.id]" class="card-link">{{El.serie|name}}</a></li>
      </ng-template>
      <ng-template [ngIf]="El.stars.length">
        <li class="list-group-item">
            <a class="card-link" [routerLink]="['/star/',El.stars[0].id]">{{El.stars[0]|name}}</a>
            <ng-template [ngIf]="El.stars.length>1">
              + <i>{{El.stars.length-1}}</i>
            </ng-template>
        </li>
      </ng-template>
    </ul>
    <div class="stats">
      <span class="stat_item">
        <span class="stats_font">
          <i class="fas fa-thumbs-up"></i>
        </span>
        <span class="stats_rate">
          {{ El.likes_count | bigInt }}
        </span>
      </span>
      <span class="stat_item">
        <span class="stats_font">
          <i class="fas fa-eye"></i>
        </span>
        <span class="stats_rate">
            {{ El.views_count | bigInt }}
        </span>
      </span>
      <span class="stat_item">
        <span class="stats_font">
          <i class="fas fa-star"></i>
        </span>
        <span class="stats_rate">
            {{ El.ratings_count | bigInt }}
        </span>
      </span>
            <span class="stat_item">
        <span class="stats_font">
          <i class="fas fa-thumbs-down"></i>
        </span>
        <span class="stats_rate">
            {{ El.disLikes_count | bigInt }}
        </span>
      </span>
    </div>
  </div>
